{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </thead>
        
        <tbody>
            {%for holding in holdings %}
            <tr>
                <td>{{holding["symbol"]}}</td>
                <td>{{holding["shares"]}}</td>
                <td>{{holding["price"]}}</td>
                <td>{{holding["transacted"]}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
        
        
        
    </table>
{% endblock %}